<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

    <h1 class="display-1 text-center">Select a device you're interested to purchase</h1>

    <br>

    <div class="d-flex justify-content-start align-items-center flex-wrap">

        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/electronics/laptops">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white text-start">Laptops</p>

                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/electronics/smartphones">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Smartphones</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/3756879/pexels-photo-3756879.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/electronics/homeappliances">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Home Appliances</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/1370082/pexels-photo-1370082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/electronics/tv">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Televisions</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/5490302/pexels-photo-5490302.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        align="right">
                </div>
            </a>
        </div>
    </div>
</div>
</body>

</html>