<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

    <h1 class="display-1 text-center">Following are the furniture categories available</h1>

    <br>

    <div class="d-flex justify-content-start align-items-center flex-wrap">

        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/furniture/sofa">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white text-start">Sofas</p>

                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/4846097/pexels-photo-4846097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/furniture/beds">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Beds</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/279746/pexels-photo-279746.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/furniture/tables">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Tables</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/2451264/pexels-photo-2451264.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/furniture/chairs">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Chairs</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/7195522/pexels-photo-7195522.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        align="right">
                </div>
            </a>
        </div>
    </div>
</div>
</body>

</html>