<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

    <h1 class="display-1 text-center">Select the category you want to purchase</h1>

    <br>

    <div class="d-flex justify-content-start align-items-center flex-wrap">

        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/grocery/beverages">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white text-start">Beverages</p>

                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/5530252/pexels-photo-5530252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <div class="hvr-grow" style="margin-left: 12em;">
            <a href="/grocery/bread">
                <div class="block border border-primary mask" style="width: 1000px;background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                    <p class="p-3 mb-2 bg-dark text-white" style="text-align: left;">Bread</p>
                    <img class="img-thumbnail rounded float-end"
                        src="https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        align="right">
                </div>
            </a>
        </div>
        <br>
    </div>
</div>
</body>

</html>