<%- include('partials/homepage_head') %>

<%- include('partials/homepage_navbar') %>

<h1 class="display-1 text-center">Shop by Category</h1>

<div class="d-flex justify-content-start align-items-center flex-wrap">

    <div class="hvr-grow">
        <a href="/electronics">
            <div class="block d-flex border border-primary justify-content-between mask" style="background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                <p class="p-3 mb-2 bg-dark text-white">Electronics</p>
                <img class="img-thumbnail rounded float-end"
                    src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?cs=srgb&dl=pexels-pixabay-356056.jpg&fm=jpg"
                    align="right">
            </div>
        </a>
    </div>


    <div class="hvr-grow" style="margin-left: 14.9em;">
        <a href="/fashion">
            <div class="block d-flex border border-primary justify-content-between mask" style="background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                <p class="p-3 mb-2 bg-dark text-white">Fashion</p>
                <img class="img-thumbnail rounded float-end"
                    src="https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?cs=srgb&dl=pexels-lumn-322207.jpg&fm=jpg"
                    align="right">
            </div>
        </a>
    </div>




    <div class="hvr-grow">
        <a href="/furniture">
            <div class="block d-flex border border-primary justify-content-between mask" style="background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                <p class="p-3 mb-2 bg-dark text-white">Furniture</p>
                <img class="img-thumbnail rounded float-end"
                    src="https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg?cs=srgb&dl=pexels-donald-tong-189333.jpg&fm=jpg"
                    align="right">
            </div>
        </a>
    </div>

    <div class="hvr-grow" style="margin-left: 18.5em;">
        <a href="/grocery">
            <div class="block d-flex border border-primary justify-content-between mask" style="background: linear-gradient(  45deg,  rgba(29, 236, 197, 0.5),  rgba(91, 14, 214, 0.5) 100%);">
                <p class="p-3 mb-2 bg-dark text-white">Grocery</p>
                <img class="img-thumbnail rounded float-end"
                    src="https://images.pexels.com/photos/3687999/pexels-photo-3687999.jpeg?cs=srgb&dl=pexels-mehrad-vosoughi-3687999.jpg&fm=jpg"
                    align="right">
            </div>
        </a>
    </div>

</div>
</body>

</html>