<%- include('partials/slideshow_head.ejs') %>

<section id="Wrapper">
	<div id="Slideshow">
		<h1>Manual Slideshow with Navigation Arrows</h1>
		<div id="Slider">
			<img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/Revamp/SBC/xcm_banners_06_sbc_v1_564x564_in-en._CB657839316_.jpg"/>
			<img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/Revamp/SBC/xcm_banners_06_sbc_v1_564x564_in-en._CB657839316_.jpg"/>
			<img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/Revamp/SBC/xcm_banners_06_sbc_v1_564x564_in-en._CB657839316_.jpg"/>
		</div>
		<div id="Arrows">
			<i id="Prev" class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
			<i id="Next" class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
		</div>
	</div>
<!-- </section>
<div class="d-flex justify-content-center align-items-center" id="slider">
        <ul class="menu">
                <li class="item">
                        <div class="container">
                                <img src=""
                                        style="height : 500px;width:500px" alt="">
                                <div class="display-5"
                                        style="position: absolute;top: 80%;left: 53%;transform: translate(-50%, -50%);">
                                        Computer Accessories</div>
                        </div>
                </li>
                <li class="item">
                        <div class="container">
                                <img src=""
                                        style="height : 500px;width:500px" alt="">
                                <div class="display-5"
                                        style="position: absolute;top: 80%;left: 53%;transform: translate(-50%, -50%);">
                                        Computer Accessories</div>
                        </div>
                <li class="item">
                        <div class="container">
                                <img src=""
                                        style="height : 500px;width:500px" alt="">
                                <div class="display-5"
                                        style="position: absolute;top: 80%;left: 53%;transform: translate(-50%, -50%);">
                                        Computer Accessories</div>
                        </div>
                </li>
                <li class="item">
                        <div class="container">
                                <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/Revamp/SBC/xcm_banners_06_sbc_v1_564x564_in-en._CB657839316_.jpg"
                                        style="height : 500px;width:500px" alt="">
                                <div class="display-5"
                                        style="position: absolute;top: 80%;left: 53%;transform: translate(-50%, -50%);">
                                        Computer Accessories</div>
                        </div>
                </li>
                <li class="item">
                        <div class="container">
                                <img src="https://images-na.ssl-images-amazon.com/images/G/31/img21/CEPC/Electronics/Revamp/SBC/xcm_banners_06_sbc_v1_564x564_in-en._CB657839316_.jpg"
                                        style="height : 500px;width:500px" alt="">
                                <div class="display-5"
                                        style="position: absolute;top: 80%;left: 53%;transform: translate(-50%, -50%);">
                                        Computer Accessories</div>
                        </div>
                </li>
        </ul>

        <div class="paddles">
                <button class="left-paddle paddle hidden">
                        < </button> <button class="right-paddle paddle">
                                >
                </button>
        </div>

</div> -->
<script src='/js/slideshow.js'></script>
</body>

</html>