<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

        <h1 class="display-1 text-center">Smartphones</h1>
        <br>

        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-1" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/712+A5mH44L._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:2em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Samsung Galaxy M21 2021 Edition (Charcoal Black, 4GB RAM, 64GB Storage) | FHD+ sAMOLED | 6 Months Free Screen Replacement for Prime (SM-M215GZKDINS)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">12999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-2" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71mCphsCGZL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:2em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">iQOO Z5 5G (Arctic Dawn, 12GB RAM, 256GB Storage) | Snapdragon 778G 5G Processor | 5000mAh Battery | 44W FlashCharge</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">26990</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-3" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: -10em;margin-left: 3em;"/> <!--style="height: 350px;width: 350px;"/-->
                <div style="margin-left:5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">12490</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-4" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71poFSdDs5S._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:2em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage) - 5G Android Smartphone | 5000 mAh Battery | 18W Fast Charge | 90Hz LCD Display</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">17990</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-5" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/911TJ1CDbLL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:-8em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">67500</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-6" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71djAn3nxoL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:-7em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">realme narzo 50i (Carbon Black, 2GB RAM+32GB Storage)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">65990</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-7" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/715Et4G0itL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:-2em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Maplin Aimi Note 8 (4GB / 64 GB) with 6.26 Inch and 5000 mAh Smartphone (Shine Black)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">6999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-8" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71Y8rH2cJiL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:2em"/>
                <div style="margin-left: 10em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Samsung Galaxy M12 (White,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">13499</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-9" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/91BGpV19r0L._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:-8em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Samsung Galaxy S21 5G (Phantom Gray, 8GB, 128GB Storage)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">64990</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>  
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-10" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY327_FMwebp_QL65_.jpg" style="margin-left:-9em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/smartphones" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">OPPO A31 (Fantasy White, 6GB RAM, 128GB Storage)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">12490</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form> 
                </div>
            </div>
            <br>
        </div>
        <script src="/js/electronics.js"></script>
    </body>
        
</html>