<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

        <h1 class="display-1 text-center">Sofas</h1>
        <br>

        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-1" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/616-UoZB2cL._AC_UL480_FMwebp_QL65_.jpg" style="height: 380px;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Sleepyhead Bae - 3 Seater Sofa (Fabric, Stone Grey)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">17999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-2" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71MMzmmLMiL._AC_UL480_FMwebp_QL65_.jpg" style="height: 380px;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Furny Herostyle 3 Seater Fabric Sofa Set (Grey-Black)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">12950</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-3" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/610sjGMGnUL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Casaliving - Hudson 5 Seater L Shape Sofa Set for Living Room (Blue Fabric) Left Side</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">24999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-4" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81ErVNVdCkS._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;width: 390px;margin-left: -3em;">
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Trevi Bliss 5 Seater Sectional Sofa RHS - Black & Grey</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">21469</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                    
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-5" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/41Bqp6PSMpL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 1.7em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Casaliving Rolando Wood 6 Seater L Shape Sofa for Living Room with 2 Puffy - Right Side Sofa (Blue Grey)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">19699</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-6" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/610ZwIHIRCL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: -1.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Braxton Hanky 4 Seater L Shape Sofa for Living Room (Orange Fabric) Right Side</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">18999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-7" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/91GqRS9mS8L._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: -2.8em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Amazon Brand - Solimo Roland 3 Seater Sofa cum Bed (Fabric, Green)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">11399</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-8" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71g4IlcTpVL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: -2.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Home Centre Signature Arden Fabric Right Arm Sofa -1 Seater Beige</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">4786</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-9" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71jaOK3eHhL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Style Crome Easy Foldable (Size-4X6,2-Seater) Sofa Cum Bed Sit & Sleep Perfect for Guest, Colour- Brown</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">6999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-10" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/51ZMPl84pAL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: -2.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/sofa" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">CasaStyle - Diana Fabric 3 Seater Sofa Set (Blue)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">13654</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </body>
</html>