<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

        <h1 class="display-1 text-center">Tables</h1>
        <br>

        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-1" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/21x+1WHCuPL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 1.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">IKEA MICKE Home/Office/Study Table (105x50 cm)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">12999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-2" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61g91DkeImS._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Home Centre Helios Jane Engineered Wood Study Table with Drawer, Dark Acacia, 47 * 23 * 29 inches)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">7950</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-3" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61FQ422aZWL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;width: 390px;"/>
                <div style="margin-left: 8em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Home Centre Helios Jackie Red Engineered Wood Kids Study Table</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">3050</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-4" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81WivmQ9JIL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Sunon Office Table Computer Desk 47” Modern Sturdy Office Desk PC Laptop Study Writing Table for Home Office,Coffee</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">7900</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-5" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/91rKwRloCfL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">BLUEWUD Mallium Engineered Wood Office Desk; Study Desk(Wenge Finish)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">4399</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-6" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81AsZR-lpeS._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">AD Planet Solid Wood Dining Table 4 Seater | Four Seater Dininng Table with Chairs | Dining Room Sets for Home & Restaurant | Solid Wood, Dark Brown Finish</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">26599</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-7" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71-iEiKe-9L._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">DecorMaster Multipurpose Study Table, Home & Office Table, Writing Table, Computer Table, Study Desk, Office Desk, Computer Desk, Workstation Table, Laptop Table, Size-90x60x75CM</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">17999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-8" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61GQUtqKIpS._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;width: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">MemeHo® Smart Standard Multi-Purpose Laptop Table with Dock Stand/Study Table/Bed Table/Foldable and Portable/Ergonomic & Rounded Edges/Non-Slip Legs/Engineered Wood (Black)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">799</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-9" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61ExCoM-u1L._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;width: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Pazano Multipurpose 2-Tier Metal Frame Shelf Rack Stand End Table for Sofa Turn-N-Tube End Table Corner Display Rack Hallway, Living Room, Simple Assembly (DIY) - (40x40x50cm)</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">1599</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-10" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/51eoKWxpEQL._AC_UL480_FMwebp_QL65_.jpg" style="height: 390px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/furniture/tables" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">UHUD CRAFTS Beautiful Antique Wooden Fold-able Side Table/End Table/Plant Stand/Stool Living Room Kids Play Furniture Table Round Shape</textarea>
                                <br>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">399</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </body>
        
</html>