<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

        <h1 class="display-1 text-center">Televisions</h1>
        <br>

        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-1" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61+S0F0StpL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Samsung 139.7 cm (55 inches) 4K Ultra HD Smart LED TV UA55AU8000KLXL (Black) (2021 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">60990</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-2" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71Z+l05eSIS._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 2em;"/>
                <div style="margin-left: 8em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Mi 80 cm (32 inches) HD Ready Android Smart LED TV 4A PRO | L32M5-AL (Black)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">15999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-3" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71vZypjNkPS._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 2em;"/> <!--style="height: 350px;width: 350px;"/-->
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">OnePlus 80 cm (32 inches) Y Series HD Ready LED Smart Android TV 32Y1 (Black) (2020 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">17999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-4" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71FutyZQeXL._AC_UY327_FMwebp_QL65_.jpg">
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">eAirtec 61 cms (24 inches) HD Ready LED TV 24DJ (Black) (2020 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">6999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-5" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71uKCdULRgL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">LG 80 cm (32 inches) HD Ready Smart LED TV 32LM563BPTC (Dark Iron Gray) (2020 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">17499</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-6" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/915X01--m2S._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 1.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Sony Bravia 80 cm (32 inches) HD Ready Smart LED TV 32W6103 (Black) (2021 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">25490</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-7" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71fEd9glTIL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 1.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Samsung 80 cm (32 Inches) Wondertainment Series HD Ready LED Smart TV UA32T4340AKXXL (Glossy Black) (2020 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">17999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-8" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71KOoJw8s1L._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 1.5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Hisense 108 cm (43 inches) 4K Ultra HD Smart Certified Android LED TV 43A6GE (Black) (2021 Model) | With Dolby Vision and ATMOS</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">30990</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-9" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81JoeYVLiiL._AC_UY327_FMwebp_QL65_.jpg" style="margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="4" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">iFFALCON 139 cm (55 inches) 4K Ultra HD Certified Android Smart LED TV 55U61 (Black) (2021 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">35999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 10em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-10" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81lpllAGcBL._AC_UL480_FMwebp_QL65_.jpg" style="height: 380px;margin-left: 2em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/electronics/tv" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Sony Bravia 108 cm (43 inches) Full HD Smart LED TV KDL-43W6603 (Black) (2020 Model)</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">42999</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </body>
        
</html>