<%- include('partials/homepage_head') %>

    <%- include('partials/navbar') %>

        <h1 class="display-1 text-center">Womens Fashion</h1>
        <br>
        <br>
        <h2 class="display-2 text-center">Tops & T-shirts</h2>
        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-1" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/515WK8bKtFL._AC_UL480_FMwebp_QL65_.jpg" style="height:310px;margin-left:-3em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Tie Dye T-Shirt for Women/Girls</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">349</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                            
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-2" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/51RP5CKYdoL._UL1080_.jpg" style="height:310px;margin-left:-3em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">JUNEBERRY Tie Dye Regular Fit Half Sleeves T-Shirts for Women</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">349</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                            
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-3" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/12670702/2020/12/10/2eed878d-fcaf-4d6c-9a32-5aa7fa4eb5b51607583380673-Roadster-Women-Pack-Of-3-Solid-V-Neck-T-shirts-7401607583379-1.jpg" style="height: 310px;margin-left: -2em;"/>
                <div style="margin-right:5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Roadster Women Pack Of 3 Solid V-Neck T-shirts</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">539</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                            
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <br>
        </div>
        <h2 class="display-2 text-center">Jeans</h2>
        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-4" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/31-EcAdwPSL._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;margin-left: -5em;"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Malachi Super Stretch Mid-Rise Jegging Jeans for Women</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">699</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                            
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-5" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/818TzHqKDFL._AC_UL480_FMwebp_QL65_.jpg" style="margin-left:-8em;height:310px"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Miss Olive Women's Skinny Fit Jeans</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">699</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-6" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71J-8dks4hL._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;margin-left:-7em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Amazon Brand - Symbol Women's Skinny Fit Jeans</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">452</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <br>
        </div>
        <h2 class="display-2 text-center">Footwear</h2>
        <div class="d-flex justify-content-start align-items-center flex-wrap">
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-13" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81VGnEU2uqL._AC_UL480_FMwebp_QL65_.jpg" style="height: 380px;width: 310px;margin-left:-3em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Women's Sf0558l Fashion Slippers</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">254</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="6">UK 6</option>
                                <option value="7">UK 7</option>
                                <option value="8">UK 8</option>
                                <option value="9">UK 9</option>
                                <option value="10">UK 10</option>
                                <option value="11">UK 11</option>
                                <option value="12">UK 12</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-14" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/71MMmFHmqbL._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;margin-left:-3em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">DOCOSS Warm Winter Indoor Shoes for Women/Girls</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">689</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="6">UK 6</option>
                                <option value="7">UK 7</option>
                                <option value="8">UK 8</option>
                                <option value="9">UK 9</option>
                                <option value="10">UK 10</option>
                                <option value="11">UK 11</option>
                                <option value="12">UK 12</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-15" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81Dx+-TzivL._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;margin-left:-3em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Sparx Women's Flip-Flops</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">254</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="6">UK 6</option>
                                <option value="7">UK 7</option>
                                <option value="8">UK 8</option>
                                <option value="9">UK 9</option>
                                <option value="10">UK 10</option>
                                <option value="11">UK 11</option>
                                <option value="12">UK 12</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-16" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/616jK0l+zvL._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;width: 450px;margin-left:-1em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Longwalk Women's Sneaker</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">269</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="6">UK 6</option>
                                <option value="7">UK 7</option>
                                <option value="8">UK 8</option>
                                <option value="9">UK 9</option>
                                <option value="10">UK 10</option>
                                <option value="11">UK 11</option>
                                <option value="12">UK 12</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-17" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/61FW8wYeP1L._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;width:470px;margin-left:-1em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">Sparx Women's Sd0111l Sneakers</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">649</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="6">UK 6</option>
                                <option value="7">UK 7</option>
                                <option value="8">UK 8</option>
                                <option value="9">UK 9</option>
                                <option value="10">UK 10</option>
                                <option value="11">UK 11</option>
                                <option value="12">UK 12</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center border border-info" id="product-18" style="height:400px;width: 1200px;margin-left: 12em;margin-right: 12em;">
                <img src="https://m.media-amazon.com/images/I/81LqRCzPAsL._AC_UL480_FMwebp_QL65_.jpg" style="height: 310px;width:470px;margin-left:-1em"/>
                <div style="margin-left: 5em;margin-top: 3em;">
                    <form action="/fashion/women" method="post">
                        <div class="form-group-row">
                            <div class="col-sm-10">
                                <textarea rows="3" cols="3" readonly name="product_description" class="form-control-plaintext" style="font-weight: bold;margin-top: -2em;">BATA Women's Printed Fitness Sneakers</textarea>
                                <br>
                                <span style="font-size: medium;">Rs.</span>
                                <textarea rows="1" cols="1" readonly name = "product_price" class="form-control-plaintext display-6" style="font-weight: bold;">413</textarea>
                                <br>
                            </div>
                        </div>
                        <div class="form-outline" style="display: inline-block ;">
                            <label class="form-label" for="size">Choose Size: </label>
                            <select id="size" name="size">
                                <option value="6">UK 6</option>
                                <option value="7">UK 7</option>
                                <option value="8">UK 8</option>
                                <option value="9">UK 9</option>
                                <option value="10">UK 10</option>
                                <option value="11">UK 11</option>
                                <option value="12">UK 12</option>
                            </select>
                            <br>
                            <label class="form-label" for="typeNumber">Quantity</label>
                            <input type="number" name="Quantity_1" id="typeNumber" class="form-control" />
                        </div>
                        <button id = "cart" class="btn btn-success" style="display: inline-block;margin-top: 1em;margin-bottom: 1.4em;margin-left: 2em;">Add to Cart</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </body>
        
</html>